{% if user.is_authenticated %}
<div id="barCommentTriage">
[<a id="aVisibility{{ commentId }}" href="javascript:TriageOp.CommentVisibility('aVisibility{{ commentId }}',{{ commentId }}, '{{ commentVisibility }}')">visibility: {{ commentVisibility }}</a>] [<a id="aEdit{{ commentId }}" href="javascript:TriageOp.CommentEditPopup('divComment{{ commentId }}',{{ commentId }}, $('#divCommentMessage_{{ commentId }}').text().trim())">edit</a>] [<a id="aDelete{{ commentId }}" href="javascript:TriageOp.CommentDelete('divComment{{ commentId }}',{{ commentId }})">delete</a>]
</div>
{% endif %}
